<div id="right-sidebar">
    <div class="sidebar-container">

        @{Html.RenderAction("ComposeEmail", "Email");}

    </div>



</div>

<style>
    #right-sidebar{
        width: 460px !important;
        right: -460px;
    }
</style>